.container {
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.logoContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero {
  max-width: 480px;
  object-fit: contain;
}

.title {
  text-align: center;
  color: white;
  margin: 28px;
  line-height: 150%
}

.infoContent {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.box {
  background: #fafafa;
  padding: 14px 44px;
  border-radius: 5px;
  transition: all .4s;
  cursor: pointer
}

.box:hover {
  transform: scale(1.08)
}

@media (max-width: 580px) {
  .hero {
    max-width: 80%
  }

  .title {
    font-size: 24px;
  }

  .infoContent {
    flex-direction: column
  }
  .box {
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}